.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.988000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.717285;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.960000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.908000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls3{letter-spacing:-0.019200px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.011200px;}
.ls2{letter-spacing:0.019200px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(175,190,227),0 0.015em rgb(175,190,227),0.015em 0 rgb(175,190,227),0 -0.015em  rgb(175,190,227);}
.sc3{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc2{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc0{text-shadow:-0.015em 0 rgb(255,255,255),0 0.015em rgb(255,255,255),0.015em 0 rgb(255,255,255),0 -0.015em  rgb(255,255,255);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(175,190,227);text-shadow:none;}
.sc3{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc2{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(255,255,255);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{display:inline;margin-left:-50.000000px;}
._c{display:inline;margin-left:-2.336400px;}
._2{display:inline-block;width:21.261160px;}
._5{display:inline-block;width:27.131866px;}
._6{display:inline-block;width:28.760720px;}
._7{display:inline-block;width:31.168386px;}
._0{display:inline-block;width:35.365626px;}
._9{display:inline-block;width:37.773186px;}
._3{display:inline-block;width:52.876200px;}
._a{display:inline-block;width:110.560100px;}
._8{display:inline-block;width:111.811940px;}
._b{display:inline-block;width:113.063780px;}
._4{display:inline-block;width:995.999640px;}
.fc9{color:rgb(82,110,166);}
.fc5{color:rgb(154,154,154);}
.fc6{color:rgb(85,103,146);}
.fcc{color:rgb(156,173,215);}
.fc7{color:rgb(104,124,163);}
.fc4{color:rgb(136,136,136);}
.fc2{color:rgb(0,153,153);}
.fc0{color:rgb(255,255,255);}
.fc1{color:rgb(175,190,227);}
.fca{color:rgb(224,228,237);}
.fc8{color:rgb(65,89,149);}
.fcb{color:rgb(230,234,241);}
.fc3{color:rgb(0,0,0);}
.fs13{font-size:40.959960px;}
.fsd{font-size:43.199960px;}
.fs10{font-size:43.519960px;}
.fs16{font-size:44.000000px;}
.fs12{font-size:46.079960px;}
.fs15{font-size:52.000000px;}
.fs7{font-size:56.000000px;}
.fse{font-size:56.319960px;}
.fs5{font-size:61.439960px;}
.fs14{font-size:64.000000px;}
.fs11{font-size:68.000000px;}
.fs8{font-size:71.680000px;}
.fs2{font-size:72.000000px;}
.fsc{font-size:80.000000px;}
.fsf{font-size:88.000000px;}
.fs6{font-size:96.000000px;}
.fs9{font-size:112.000000px;}
.fs3{font-size:128.000000px;}
.fsb{font-size:144.000000px;}
.fsa{font-size:160.000000px;}
.fs4{font-size:184.000000px;}
.fs1{font-size:208.000000px;}
.fs0{font-size:232.000000px;}
.y48{bottom:-163.498100px;}
.y47{bottom:-104.498120px;}
.y46{bottom:-15.498170px;}
.y0{bottom:0.000000px;}
.ye{bottom:14.400240px;}
.y45{bottom:43.501850px;}
.y5{bottom:64.250250px;}
.y44{bottom:73.501800px;}
.y4{bottom:88.250300px;}
.y18{bottom:105.200010px;}
.y43{bottom:107.501800px;}
.y3{bottom:111.250200px;}
.y30{bottom:122.600010px;}
.y53{bottom:134.400000px;}
.y42{bottom:145.501800px;}
.y52{bottom:161.960010px;}
.y51{bottom:163.400000px;}
.y29{bottom:166.070700px;}
.y2f{bottom:167.600010px;}
.y41{bottom:179.501800px;}
.y37{bottom:182.200010px;}
.y1e{bottom:192.200010px;}
.y28{bottom:194.070700px;}
.y17{bottom:213.200010px;}
.y2e{bottom:214.200010px;}
.y40{bottom:217.501800px;}
.y36{bottom:219.200010px;}
.y50{bottom:220.400000px;}
.y27{bottom:223.070700px;}
.yd{bottom:237.600010px;}
.y1d{bottom:246.200010px;}
.y4f{bottom:249.400000px;}
.y3f{bottom:250.501800px;}
.y2d{bottom:251.200010px;}
.y26{bottom:252.070700px;}
.y54{bottom:254.699906px;}
.y16{bottom:267.200010px;}
.y35{bottom:270.200010px;}
.y25{bottom:281.070700px;}
.yc{bottom:284.800000px;}
.y10{bottom:287.020000px;}
.y2{bottom:289.120010px;}
.y3e{bottom:289.501800px;}
.y20{bottom:293.320000px;}
.y7{bottom:296.120010px;}
.y1c{bottom:298.600010px;}
.y2c{bottom:303.000000px;}
.y4e{bottom:307.400000px;}
.y24{bottom:310.070700px;}
.y34{bottom:320.600010px;}
.y15{bottom:321.200010px;}
.y3d{bottom:322.501800px;}
.y6{bottom:334.720000px;}
.y4d{bottom:336.400000px;}
.y23{bottom:338.070700px;}
.y1f{bottom:339.120000px;}
.y1b{bottom:344.600010px;}
.y1{bottom:345.720000px;}
.yf{bottom:349.020000px;}
.y33{bottom:352.600010px;}
.y3c{bottom:361.501800px;}
.y14{bottom:375.200010px;}
.yb{bottom:385.600010px;}
.y1a{bottom:390.600010px;}
.y4c{bottom:393.400000px;}
.y32{bottom:398.600010px;}
.y3b{bottom:399.501800px;}
.y22{bottom:404.816900px;}
.y4b{bottom:422.400000px;}
.y13{bottom:429.200010px;}
.ya{bottom:430.599910px;}
.y19{bottom:436.600010px;}
.y3a{bottom:437.501800px;}
.y31{bottom:443.600010px;}
.y2b{bottom:455.200000px;}
.y2a{bottom:474.200000px;}
.y39{bottom:474.501800px;}
.y9{bottom:477.799900px;}
.y4a{bottom:480.400000px;}
.y12{bottom:482.199910px;}
.y49{bottom:508.400000px;}
.y38{bottom:512.501800px;}
.y8{bottom:547.599910px;}
.y11{bottom:548.599910px;}
.y21{bottom:554.933200px;}
.h14{height:32.033203px;}
.h11{height:37.857422px;}
.hc{height:52.417969px;}
.h10{height:54.272000px;}
.hf{height:57.664000px;}
.h4{height:61.056000px;}
.hd{height:67.840000px;}
.h8{height:69.890625px;}
.he{height:74.624000px;}
.h13{height:77.280000px;}
.h7{height:81.408000px;}
.ha{height:81.539062px;}
.h12{height:82.560000px;}
.h9{height:94.976000px;}
.h6{height:108.544000px;}
.hb{height:122.112000px;}
.h5{height:156.032000px;}
.h3{height:176.384000px;}
.h2{height:196.736000px;}
.h1{height:639.999912px;}
.h0{height:640.000000px;}
.w0{width:1024.000000px;}
.x0{left:0.000000px;}
.x4{left:15.199450px;}
.x7{left:48.073140px;}
.x6{left:60.402670px;}
.x2{left:62.000070px;}
.x1{left:64.999760px;}
.x18{left:69.199990px;}
.x8{left:72.073140px;}
.x13{left:77.999980px;}
.x3{left:79.999990px;}
.x17{left:97.159990px;}
.x16{left:98.999980px;}
.x12{left:102.000000px;}
.xf{left:146.217470px;}
.x19{left:238.547690px;}
.x1b{left:254.617300px;}
.x1a{left:262.547690px;}
.xa{left:365.029300px;}
.x10{left:376.279900px;}
.xb{left:389.029300px;}
.x9{left:430.174180px;}
.x14{left:631.999900px;}
.x15{left:650.999900px;}
.x5{left:673.999900px;}
.xd{left:704.813900px;}
.xe{left:728.813900px;}
.xc{left:740.187850px;}
.x11{left:803.217400px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls3{letter-spacing:-0.025600pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.014933pt;}
.ls2{letter-spacing:0.025600pt;}
.ws0{word-spacing:0.000000pt;}
._1{display:inline;margin-left:-66.666667pt;}
._c{display:inline;margin-left:-3.115200pt;}
._2{display:inline-block;width:28.348213pt;}
._5{display:inline-block;width:36.175821pt;}
._6{display:inline-block;width:38.347627pt;}
._7{display:inline-block;width:41.557848pt;}
._0{display:inline-block;width:47.154168pt;}
._9{display:inline-block;width:50.364248pt;}
._3{display:inline-block;width:70.501600pt;}
._a{display:inline-block;width:147.413466pt;}
._8{display:inline-block;width:149.082586pt;}
._b{display:inline-block;width:150.751706pt;}
._4{display:inline-block;width:1327.999520pt;}
.fs13{font-size:54.613280pt;}
.fsd{font-size:57.599947pt;}
.fs10{font-size:58.026613pt;}
.fs16{font-size:58.666667pt;}
.fs12{font-size:61.439947pt;}
.fs15{font-size:69.333333pt;}
.fs7{font-size:74.666667pt;}
.fse{font-size:75.093280pt;}
.fs5{font-size:81.919947pt;}
.fs14{font-size:85.333333pt;}
.fs11{font-size:90.666667pt;}
.fs8{font-size:95.573333pt;}
.fs2{font-size:96.000000pt;}
.fsc{font-size:106.666667pt;}
.fsf{font-size:117.333333pt;}
.fs6{font-size:128.000000pt;}
.fs9{font-size:149.333333pt;}
.fs3{font-size:170.666667pt;}
.fsb{font-size:192.000000pt;}
.fsa{font-size:213.333333pt;}
.fs4{font-size:245.333333pt;}
.fs1{font-size:277.333333pt;}
.fs0{font-size:309.333333pt;}
.y48{bottom:-217.997467pt;}
.y47{bottom:-139.330827pt;}
.y46{bottom:-20.664227pt;}
.y0{bottom:0.000000pt;}
.ye{bottom:19.200320pt;}
.y45{bottom:58.002467pt;}
.y5{bottom:85.667000pt;}
.y44{bottom:98.002400pt;}
.y4{bottom:117.667067pt;}
.y18{bottom:140.266680pt;}
.y43{bottom:143.335733pt;}
.y3{bottom:148.333600pt;}
.y30{bottom:163.466680pt;}
.y53{bottom:179.200000pt;}
.y42{bottom:194.002400pt;}
.y52{bottom:215.946680pt;}
.y51{bottom:217.866667pt;}
.y29{bottom:221.427600pt;}
.y2f{bottom:223.466680pt;}
.y41{bottom:239.335733pt;}
.y37{bottom:242.933347pt;}
.y1e{bottom:256.266680pt;}
.y28{bottom:258.760933pt;}
.y17{bottom:284.266680pt;}
.y2e{bottom:285.600013pt;}
.y40{bottom:290.002400pt;}
.y36{bottom:292.266680pt;}
.y50{bottom:293.866667pt;}
.y27{bottom:297.427600pt;}
.yd{bottom:316.800013pt;}
.y1d{bottom:328.266680pt;}
.y4f{bottom:332.533333pt;}
.y3f{bottom:334.002400pt;}
.y2d{bottom:334.933347pt;}
.y26{bottom:336.094267pt;}
.y54{bottom:339.599875pt;}
.y16{bottom:356.266680pt;}
.y35{bottom:360.266680pt;}
.y25{bottom:374.760933pt;}
.yc{bottom:379.733333pt;}
.y10{bottom:382.693333pt;}
.y2{bottom:385.493347pt;}
.y3e{bottom:386.002400pt;}
.y20{bottom:391.093333pt;}
.y7{bottom:394.826680pt;}
.y1c{bottom:398.133347pt;}
.y2c{bottom:404.000000pt;}
.y4e{bottom:409.866667pt;}
.y24{bottom:413.427600pt;}
.y34{bottom:427.466680pt;}
.y15{bottom:428.266680pt;}
.y3d{bottom:430.002400pt;}
.y6{bottom:446.293333pt;}
.y4d{bottom:448.533333pt;}
.y23{bottom:450.760933pt;}
.y1f{bottom:452.160000pt;}
.y1b{bottom:459.466680pt;}
.y1{bottom:460.960000pt;}
.yf{bottom:465.360000pt;}
.y33{bottom:470.133347pt;}
.y3c{bottom:482.002400pt;}
.y14{bottom:500.266680pt;}
.yb{bottom:514.133347pt;}
.y1a{bottom:520.800013pt;}
.y4c{bottom:524.533333pt;}
.y32{bottom:531.466680pt;}
.y3b{bottom:532.669067pt;}
.y22{bottom:539.755867pt;}
.y4b{bottom:563.200000pt;}
.y13{bottom:572.266680pt;}
.ya{bottom:574.133213pt;}
.y19{bottom:582.133347pt;}
.y3a{bottom:583.335733pt;}
.y31{bottom:591.466680pt;}
.y2b{bottom:606.933333pt;}
.y2a{bottom:632.266667pt;}
.y39{bottom:632.669067pt;}
.y9{bottom:637.066533pt;}
.y4a{bottom:640.533333pt;}
.y12{bottom:642.933213pt;}
.y49{bottom:677.866667pt;}
.y38{bottom:683.335733pt;}
.y8{bottom:730.133213pt;}
.y11{bottom:731.466547pt;}
.y21{bottom:739.910933pt;}
.h14{height:42.710938pt;}
.h11{height:50.476562pt;}
.hc{height:69.890625pt;}
.h10{height:72.362667pt;}
.hf{height:76.885333pt;}
.h4{height:81.408000pt;}
.hd{height:90.453333pt;}
.h8{height:93.187500pt;}
.he{height:99.498667pt;}
.h13{height:103.040000pt;}
.h7{height:108.544000pt;}
.ha{height:108.718750pt;}
.h12{height:110.080000pt;}
.h9{height:126.634667pt;}
.h6{height:144.725333pt;}
.hb{height:162.816000pt;}
.h5{height:208.042667pt;}
.h3{height:235.178667pt;}
.h2{height:262.314667pt;}
.h1{height:853.333216pt;}
.h0{height:853.333333pt;}
.w0{width:1365.333333pt;}
.x0{left:0.000000pt;}
.x4{left:20.265933pt;}
.x7{left:64.097520pt;}
.x6{left:80.536893pt;}
.x2{left:82.666760pt;}
.x1{left:86.666347pt;}
.x18{left:92.266653pt;}
.x8{left:96.097520pt;}
.x13{left:103.999973pt;}
.x3{left:106.666653pt;}
.x17{left:129.546653pt;}
.x16{left:131.999973pt;}
.x12{left:136.000000pt;}
.xf{left:194.956627pt;}
.x19{left:318.063587pt;}
.x1b{left:339.489733pt;}
.x1a{left:350.063587pt;}
.xa{left:486.705733pt;}
.x10{left:501.706533pt;}
.xb{left:518.705733pt;}
.x9{left:573.565573pt;}
.x14{left:842.666533pt;}
.x15{left:867.999867pt;}
.x5{left:898.666533pt;}
.xd{left:939.751867pt;}
.xe{left:971.751867pt;}
.xc{left:986.917133pt;}
.x11{left:1070.956533pt;}
}
