.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.988000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.717285;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.960000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.908000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls3{letter-spacing:-0.019200px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.011200px;}
.ls2{letter-spacing:0.019200px;}
.sc_{text-shadow:none;}
.sc3{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc2{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc1{text-shadow:-0.015em 0 rgb(174,189,227),0 0.015em rgb(174,189,227),0.015em 0 rgb(174,189,227),0 -0.015em  rgb(174,189,227);}
.sc0{text-shadow:-0.015em 0 rgb(255,255,255),0 0.015em rgb(255,255,255),0.015em 0 rgb(255,255,255),0 -0.015em  rgb(255,255,255);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc3{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc2{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em rgb(174,189,227);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(255,255,255);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{display:inline;margin-left:-49.999976px;}
._b{display:inline;margin-left:-2.313373px;}
._2{display:inline-block;width:21.261600px;}
._5{display:inline-block;width:28.760000px;}
._6{display:inline-block;width:31.167200px;}
._0{display:inline-block;width:35.364800px;}
._8{display:inline-block;width:37.772000px;}
._3{display:inline-block;width:52.866800px;}
._9{display:inline-block;width:110.558880px;}
._7{display:inline-block;width:111.810720px;}
._a{display:inline-block;width:113.061760px;}
._4{display:inline-block;width:996.000000px;}
.fcc{color:rgb(155,172,214);}
.fca{color:rgb(223,227,237);}
.fc9{color:rgb(81,110,165);}
.fc5{color:rgb(153,153,153);}
.fc6{color:rgb(85,102,145);}
.fc4{color:rgb(136,136,136);}
.fc8{color:rgb(65,88,148);}
.fcb{color:rgb(229,233,240);}
.fc7{color:rgb(103,123,163);}
.fc1{color:rgb(174,189,227);}
.fc2{color:rgb(0,153,153);}
.fc3{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fs13{font-size:40.960000px;}
.fsd{font-size:43.200000px;}
.fs10{font-size:43.520000px;}
.fs16{font-size:44.000000px;}
.fs12{font-size:46.080000px;}
.fs15{font-size:52.000000px;}
.fs7{font-size:56.000000px;}
.fse{font-size:56.320000px;}
.fs5{font-size:61.440000px;}
.fs14{font-size:64.000000px;}
.fs11{font-size:68.000000px;}
.fs8{font-size:71.680000px;}
.fs2{font-size:72.000000px;}
.fsc{font-size:80.000000px;}
.fsf{font-size:88.000000px;}
.fs6{font-size:96.000000px;}
.fs9{font-size:112.000000px;}
.fs3{font-size:128.000000px;}
.fsb{font-size:144.000000px;}
.fsa{font-size:160.000000px;}
.fs4{font-size:184.000000px;}
.fs1{font-size:208.000000px;}
.fs0{font-size:232.000000px;}
.y0{bottom:0.000000px;}
.ye{bottom:14.400400px;}
.y46{bottom:43.502000px;}
.y5{bottom:64.250000px;}
.y45{bottom:73.502000px;}
.y4{bottom:88.250000px;}
.y18{bottom:105.200000px;}
.y44{bottom:107.502000px;}
.y3{bottom:111.250000px;}
.y31{bottom:122.600000px;}
.y51{bottom:134.400000px;}
.y43{bottom:145.502000px;}
.y50{bottom:161.960000px;}
.y4f{bottom:163.400000px;}
.y2a{bottom:166.071000px;}
.y30{bottom:167.600000px;}
.y42{bottom:179.502000px;}
.y38{bottom:182.200000px;}
.y1e{bottom:192.200000px;}
.y29{bottom:194.071000px;}
.y17{bottom:213.200000px;}
.y2f{bottom:214.200000px;}
.y41{bottom:217.502000px;}
.y37{bottom:219.200000px;}
.y4e{bottom:220.400000px;}
.y28{bottom:223.071000px;}
.yd{bottom:237.600000px;}
.y1d{bottom:246.200000px;}
.y4d{bottom:249.400000px;}
.y40{bottom:250.502000px;}
.y2e{bottom:251.200000px;}
.y27{bottom:252.071000px;}
.y52{bottom:254.700000px;}
.y16{bottom:267.200000px;}
.y36{bottom:270.200000px;}
.y26{bottom:281.071000px;}
.yc{bottom:284.800000px;}
.y10{bottom:287.020000px;}
.y2{bottom:289.120000px;}
.y3f{bottom:289.502000px;}
.y20{bottom:293.320000px;}
.y7{bottom:296.120000px;}
.y1c{bottom:298.600000px;}
.y2d{bottom:303.000000px;}
.y4c{bottom:307.400000px;}
.y25{bottom:310.071000px;}
.y35{bottom:320.600000px;}
.y15{bottom:321.200000px;}
.y3e{bottom:322.502000px;}
.y6{bottom:334.720000px;}
.y4b{bottom:336.400000px;}
.y23{bottom:338.070900px;}
.y24{bottom:338.071000px;}
.y1f{bottom:339.120000px;}
.y1b{bottom:344.600000px;}
.y1{bottom:345.720000px;}
.yf{bottom:349.020000px;}
.y34{bottom:352.600000px;}
.y3d{bottom:361.502000px;}
.y14{bottom:375.200000px;}
.yb{bottom:385.600000px;}
.y1a{bottom:390.600000px;}
.y4a{bottom:393.400000px;}
.y33{bottom:398.600000px;}
.y3c{bottom:399.502000px;}
.y22{bottom:404.817000px;}
.y49{bottom:422.400000px;}
.y13{bottom:429.200000px;}
.ya{bottom:430.600000px;}
.y19{bottom:436.600000px;}
.y3b{bottom:437.502000px;}
.y32{bottom:443.600000px;}
.y2c{bottom:455.200000px;}
.y2b{bottom:474.200000px;}
.y3a{bottom:474.502000px;}
.y9{bottom:477.800000px;}
.y48{bottom:480.400000px;}
.y12{bottom:482.200000px;}
.y47{bottom:508.400000px;}
.y39{bottom:512.502000px;}
.y8{bottom:547.600000px;}
.y11{bottom:548.600000px;}
.y21{bottom:554.933000px;}
.h13{height:32.033203px;}
.h10{height:37.857422px;}
.hb{height:52.417969px;}
.hf{height:54.272000px;}
.he{height:57.664000px;}
.h3{height:61.056000px;}
.hc{height:67.840000px;}
.h7{height:69.890625px;}
.hd{height:74.624000px;}
.h12{height:77.280000px;}
.h6{height:81.408000px;}
.h9{height:81.539062px;}
.h11{height:82.560000px;}
.h8{height:94.976000px;}
.h5{height:108.544000px;}
.ha{height:122.112000px;}
.h4{height:156.032000px;}
.h2{height:176.384000px;}
.h1{height:196.736000px;}
.h0{height:640.000000px;}
.w0{width:1024.000000px;}
.x0{left:0.000000px;}
.x4{left:15.199600px;}
.x7{left:48.073000px;}
.x8{left:56.475400px;}
.x6{left:60.402700px;}
.x2{left:62.000000px;}
.x1{left:64.999600px;}
.x1b{left:69.200000px;}
.x9{left:72.073022px;}
.x16{left:78.000000px;}
.x3{left:80.000000px;}
.x1a{left:97.160000px;}
.x19{left:99.000000px;}
.x15{left:102.000000px;}
.x12{left:146.218000px;}
.x1c{left:238.548000px;}
.x1e{left:254.617000px;}
.x1d{left:262.548000px;}
.xb{left:365.029100px;}
.xc{left:373.432000px;}
.x13{left:376.280000px;}
.xd{left:389.028922px;}
.xa{left:430.174000px;}
.x17{left:632.000000px;}
.x18{left:650.999563px;}
.x5{left:674.000000px;}
.xf{left:704.814200px;}
.x10{left:713.216000px;}
.x11{left:728.813922px;}
.xe{left:740.188000px;}
.x14{left:803.218000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls3{letter-spacing:-0.025600pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.014933pt;}
.ls2{letter-spacing:0.025600pt;}
.ws0{word-spacing:0.000000pt;}
._1{display:inline;margin-left:-66.666635pt;}
._b{display:inline;margin-left:-3.084497pt;}
._2{display:inline-block;width:28.348800pt;}
._5{display:inline-block;width:38.346667pt;}
._6{display:inline-block;width:41.556267pt;}
._0{display:inline-block;width:47.153067pt;}
._8{display:inline-block;width:50.362667pt;}
._3{display:inline-block;width:70.489067pt;}
._9{display:inline-block;width:147.411840pt;}
._7{display:inline-block;width:149.080960pt;}
._a{display:inline-block;width:150.749013pt;}
._4{display:inline-block;width:1328.000000pt;}
.fs13{font-size:54.613333pt;}
.fsd{font-size:57.600000pt;}
.fs10{font-size:58.026667pt;}
.fs16{font-size:58.666667pt;}
.fs12{font-size:61.440000pt;}
.fs15{font-size:69.333333pt;}
.fs7{font-size:74.666667pt;}
.fse{font-size:75.093333pt;}
.fs5{font-size:81.920000pt;}
.fs14{font-size:85.333333pt;}
.fs11{font-size:90.666667pt;}
.fs8{font-size:95.573333pt;}
.fs2{font-size:96.000000pt;}
.fsc{font-size:106.666667pt;}
.fsf{font-size:117.333333pt;}
.fs6{font-size:128.000000pt;}
.fs9{font-size:149.333333pt;}
.fs3{font-size:170.666667pt;}
.fsb{font-size:192.000000pt;}
.fsa{font-size:213.333333pt;}
.fs4{font-size:245.333333pt;}
.fs1{font-size:277.333333pt;}
.fs0{font-size:309.333333pt;}
.y0{bottom:0.000000pt;}
.ye{bottom:19.200533pt;}
.y46{bottom:58.002667pt;}
.y5{bottom:85.666667pt;}
.y45{bottom:98.002667pt;}
.y4{bottom:117.666667pt;}
.y18{bottom:140.266667pt;}
.y44{bottom:143.336000pt;}
.y3{bottom:148.333333pt;}
.y31{bottom:163.466667pt;}
.y51{bottom:179.200000pt;}
.y43{bottom:194.002667pt;}
.y50{bottom:215.946667pt;}
.y4f{bottom:217.866667pt;}
.y2a{bottom:221.428000pt;}
.y30{bottom:223.466667pt;}
.y42{bottom:239.336000pt;}
.y38{bottom:242.933333pt;}
.y1e{bottom:256.266667pt;}
.y29{bottom:258.761333pt;}
.y17{bottom:284.266667pt;}
.y2f{bottom:285.600000pt;}
.y41{bottom:290.002667pt;}
.y37{bottom:292.266667pt;}
.y4e{bottom:293.866667pt;}
.y28{bottom:297.428000pt;}
.yd{bottom:316.800000pt;}
.y1d{bottom:328.266667pt;}
.y4d{bottom:332.533333pt;}
.y40{bottom:334.002667pt;}
.y2e{bottom:334.933333pt;}
.y27{bottom:336.094667pt;}
.y52{bottom:339.600000pt;}
.y16{bottom:356.266667pt;}
.y36{bottom:360.266667pt;}
.y26{bottom:374.761333pt;}
.yc{bottom:379.733333pt;}
.y10{bottom:382.693333pt;}
.y2{bottom:385.493333pt;}
.y3f{bottom:386.002667pt;}
.y20{bottom:391.093333pt;}
.y7{bottom:394.826667pt;}
.y1c{bottom:398.133333pt;}
.y2d{bottom:404.000000pt;}
.y4c{bottom:409.866667pt;}
.y25{bottom:413.428000pt;}
.y35{bottom:427.466667pt;}
.y15{bottom:428.266667pt;}
.y3e{bottom:430.002667pt;}
.y6{bottom:446.293333pt;}
.y4b{bottom:448.533333pt;}
.y23{bottom:450.761200pt;}
.y24{bottom:450.761333pt;}
.y1f{bottom:452.160000pt;}
.y1b{bottom:459.466667pt;}
.y1{bottom:460.960000pt;}
.yf{bottom:465.360000pt;}
.y34{bottom:470.133333pt;}
.y3d{bottom:482.002667pt;}
.y14{bottom:500.266667pt;}
.yb{bottom:514.133333pt;}
.y1a{bottom:520.800000pt;}
.y4a{bottom:524.533333pt;}
.y33{bottom:531.466667pt;}
.y3c{bottom:532.669333pt;}
.y22{bottom:539.756000pt;}
.y49{bottom:563.200000pt;}
.y13{bottom:572.266667pt;}
.ya{bottom:574.133333pt;}
.y19{bottom:582.133333pt;}
.y3b{bottom:583.336000pt;}
.y32{bottom:591.466667pt;}
.y2c{bottom:606.933333pt;}
.y2b{bottom:632.266667pt;}
.y3a{bottom:632.669333pt;}
.y9{bottom:637.066667pt;}
.y48{bottom:640.533333pt;}
.y12{bottom:642.933333pt;}
.y47{bottom:677.866667pt;}
.y39{bottom:683.336000pt;}
.y8{bottom:730.133333pt;}
.y11{bottom:731.466667pt;}
.y21{bottom:739.910667pt;}
.h13{height:42.710938pt;}
.h10{height:50.476562pt;}
.hb{height:69.890625pt;}
.hf{height:72.362667pt;}
.he{height:76.885333pt;}
.h3{height:81.408000pt;}
.hc{height:90.453333pt;}
.h7{height:93.187500pt;}
.hd{height:99.498667pt;}
.h12{height:103.040000pt;}
.h6{height:108.544000pt;}
.h9{height:108.718750pt;}
.h11{height:110.080000pt;}
.h8{height:126.634667pt;}
.h5{height:144.725333pt;}
.ha{height:162.816000pt;}
.h4{height:208.042667pt;}
.h2{height:235.178667pt;}
.h1{height:262.314667pt;}
.h0{height:853.333333pt;}
.w0{width:1365.333333pt;}
.x0{left:0.000000pt;}
.x4{left:20.266133pt;}
.x7{left:64.097333pt;}
.x8{left:75.300533pt;}
.x6{left:80.536933pt;}
.x2{left:82.666667pt;}
.x1{left:86.666133pt;}
.x1b{left:92.266667pt;}
.x9{left:96.097363pt;}
.x16{left:104.000000pt;}
.x3{left:106.666667pt;}
.x1a{left:129.546667pt;}
.x19{left:132.000000pt;}
.x15{left:136.000000pt;}
.x12{left:194.957333pt;}
.x1c{left:318.064000pt;}
.x1e{left:339.489333pt;}
.x1d{left:350.064000pt;}
.xb{left:486.705467pt;}
.xc{left:497.909333pt;}
.x13{left:501.706667pt;}
.xd{left:518.705229pt;}
.xa{left:573.565333pt;}
.x17{left:842.666667pt;}
.x18{left:867.999417pt;}
.x5{left:898.666667pt;}
.xf{left:939.752267pt;}
.x10{left:950.954667pt;}
.x11{left:971.751896pt;}
.xe{left:986.917333pt;}
.x14{left:1070.957333pt;}
}
